html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*----------- Star Rating ----------*/

.bi-star,
.bi-star-fill {
  color: gold;
  font-size: 1.2rem;
}

#star-container {
  font-size: 3px;
}

#star-container .bi {
  font-size: 1.5rem;
}