@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h3>
    <a href="/Home/Intro">Вступ</a>
</h3>
<h3>
    <a href="/Home/Basics">Огляд MVC</a>
</h3>
<h3>
    <a href="/Home/Razor">Огляд Razor</a>
</h3>