@{
    ViewData["Title"] = "Вступ";
}

<div>
    <h1 class="display-4">Вступ до ASP.NET Core MVC</h1>
</div>

<p>ASP.NET Core MVC - фреймворк для створення серверних застосунків.</p>
<p>Ключові риси:</p>
<ul>
    <li>Автоматична маршрутизація за збігом імен (/Controller/Action)</li>
    <li>Автоматичний вибір представлень (View) за іменем Action</li>
    <li>Шаблонізація (однаковий шаблон для різних сторінок)</li>
    <li>Наявність підключених бібліотек (Bootstrap, JQuery)</li>
    <li>Структура MVC ООП</li>
</ul>